@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
}

ul li{
    text-decoration: none;
    list-style: none;
}


body{
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.6;
}

.container{
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0rem 2rem;
}

.main-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.first-item{
    padding-top: 2rem;
}

.second-item{
    background-color: black;
    min-height: 50vh;
    padding-top: 2rem;
}

.navbar{
    width: 60%;
    float: right;
}

.navbar ul{
    display: flex;
    justify-content:space-around;
}

/* Header Section */

header .container{
    max-width: 450px;
    overflow-x: auto;
    display: flex;
    justify-content: space-around;
    background-color: rgb(201, 232, 238);
    border-radius: 32px;
    margin-top: 22px;
    margin-left: -2px;
    margin-bottom: 22px;
    
}

header a{
    color: black;
}

header a:hover, a:focus, a:active{
    color: blue;
}

header h2{
    padding: 11px 13px 7px 12px;
    font-weight: normal;
    font-size: 1rem;
}

/* Loan Calculator -- Details Grid */

.loan-calc-details{
    margin-left: -12px;
}

.loan-calc-details h1{
    margin-left: -22px;
}

.loan-details{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-left: -12px;
}

.loan-details h2{
    font-size: 1.4rem;
    color: gray;
    background-color: rgb(172, 165, 165,0.2);
    border-radius: 20px;
    padding: 3px 12px;
   margin: 20px auto;
}

.form-control{
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    position: relative;
}

.form-control label{
 font-size: 1.2rem;
 font-weight: bolder;
margin: 8px 0;
}

.form-control .options{
    margin-right:-1px;
    margin-bottom: 3px;
}

.form-control select, input{
width: 150px;
margin-bottom: 8px;
height: 30px;
border-radius: 5px;
font-size: 1rem;
outline: none;
border: 1px solid rgb(4, 7, 168);
}

.form-control input::placeholder{
    float: right;
    font-size: 1.2rem;
    line-height: 1.6;
    padding-right: 3px;
}

.btn-submit{
    font-size: 1.2rem;
    color: white;
    background-color: blue;
    padding: 21px 20px;
    line-height: 0.2;   
}



/* Loan Calculator -- Breakdown Grid */

.breakdown-grid{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border-radius: 3px;
    padding: 12px 22px;
    margin-top: 3rem;
    margin-left: 12px;
}


.break-title{
    margin-top:-12rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.detail{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.disclaimer{
    color: gray;
}

.hide{
    display: none;
}

.red{
    color: red;
}

.green{
    color: green;
}

.form-control.success input {
    border-color: #2ecc71;
  }
  
  .form-control.error input {
    border-color: #e74c3c;
  }
  
  .form-control small {
    color: #e74c3c;
    position: absolute;
    top:-1.4rem;
    left: 0.3rem;
    visibility: hidden;
  }
  
  .form-control.error small {
    visibility: visible;
  }