@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.6;
}

a{
    color: white;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

a:hover{
    color:blue;
    font-weight: bolder;
}


.container{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0rem 5rem -2rem;
}

.savings-calc-details {
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-left: 0px;
        padding-top: 2rem;
    
         margin-top:2rem;
}

.second-item{
    background-color: black;
    min-height: 50vh;
    padding-top: 3rem;
    width: 100%;
}



/* Header Section */
header .container{
    width:500px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(240, 245, 247);
    border-radius: 32px;
    margin-top:22px;
    margin-bottom: 22px;
}

header a{
    color: black;
}

header a:hover, a:focus, a:active{
    color: blue;
}

header h2{
    padding: 4px 5px 4px 6px;
    font-weight: normal;
    font-size: 1rem;
    
}

.main-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 24px;
}

.loan-details{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.loan-details h2{
    font-size: 1.4rem;
    color: gray;
    background-color: rgb(172, 165, 165,0.2);
    border-radius: 20px;
    padding: 3px 12px;
   margin: 20px auto;
}

.form-control{
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    position: relative;
}

.form-control label{
 font-size: 1.2rem;
 font-weight: bolder;
margin: 8px 0;
}

.form-control .options{
    margin-right:-1px;
    margin-bottom: 3px;
}

.form-control select, input{
width: 150px;
margin-bottom: 8px;
height: 30px;
border-radius: 5px;
font-size: 1rem;
outline: none;
border: 1px solid rgb(4, 7, 168);
}

.form-control input::placeholder{
    float: right;
    font-size: 1.2rem;
    line-height: 1.6;
    padding-right: 3px;
}

.btn-submit{
    font-size: 1.2rem;
    color: white;
    background-color: blue;
    padding: 21px 20px;
    line-height: 0.2;   
    margin-right:-92px;
}

/* Loan Calculator -- Breakdown Grid */
.breakdown-grid{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border-radius: 3px;
    padding: 12px 22px; 
    width: 100%;
    
}

.navbar{
    width: 60%;
    float: right;
}

.navbar ul{
    display: flex;
    justify-content:space-around;
}



.break-title{
    margin-top:-12rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

.detail{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.disclaimer{
    color: gray;
}

.hide{
    display: none;
}

.red{
    color: red;
}

.green{
    color: green;
}

.form-control.success input {
    border-color: #2ecc71;
  }
  
  .form-control.error input {
    border-color: #e74c3c;
  }
  
  .form-control small {
    color: #e74c3c;
    position: absolute;
    top:-1.4rem;
    left: 0.3rem;
    visibility: hidden;
  }
  
  .form-control.error small {
    visibility: visible;
  }

  @media(max-width:768px){
    .main-grid{
        display: grid;
        grid-template-columns:1fr;
    } 
  }
