@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.6;
    /* background: hsla(315, 32%, 85%, 1);
    background: linear-gradient(180deg, hsla(315, 32%, 85%, 0.3) 11%, hsla(0, 0%, 100%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(315, 32%, 85%, 0.3) 11%, hsla(0, 0%, 100%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(315, 32%, 85%, 0.3) 11%, hsla(0, 0%, 100%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#e5cddf", endColorstr="#ffffff", GradientType=1 ); */
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

img{
    width: 100%;
}

.container{
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0rem 5rem -2rem;
}

nav{
    font-size: 1.2rem;
    font-weight: 900;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

nav .container{
    display: flex;
    justify-content: space-between;
}

nav a{
    padding: 0 1rem;
    font-weight: bolder;
    color: black;
}

nav a:hover{
    color:blue;
    font-weight: bolder;
}

.nav-list{
    display: flex;
}

/* Showcase Section */

.showcase .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
}

.left-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

.showcase h2{
font-size: 3rem;
margin-bottom: 1rem;
font-weight: bolder;
}

.showcase p{
    margin-bottom: 1rem;
    font-weight: bold;
}

.showcase .btn{
    background:#04009a;;
    color: white;
    padding: 0.8rem 2rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
}

.right-grid img{
    width: 80%;
    margin: 5rem 3px;
   border: none;
}

.carousel {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 440px;
    background-color: rgb(250, 250, 249);
    border-radius: 4px;
    position: relative;
}

.carousel .carousel-item,
.carousel .carousel-item-hidden {
  display: none;
}

.carousel .carousel-item-visible {
    display: flex;
    flex-direction: column;
    padding: 10px;
    animation: fadeVisibility 0.5s;
  }

  .carousel .carousel-inner{
      display: flex;

  }

.carousel img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-right: 12px;
}

.carousel p{
    font-size: 0.9rem;
}

.carousel .carousel-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
  }

.carousel .carousel-buttons button{
    border-radius: 50px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

  .slider-dots {
    position: absolute;
    top: 90%;
    right: 2%;
    transform: translateY(90%);
   
    list-style: none;
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
  }
  
  .slider-dots li {
    
    color: #bbbcbc;
    display: inline;
    font-size: 30px;
    margin-right: 5px;
  }
  
  .slider-dots .active-dot {
    color: #141414;
    animation: fadeVisibility 2s;
  }

  .slider-dots li.hidden{
      color: #bbbcbc;
  }
  
  @keyframes fadeVisibility {
    0% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
      transform: opacity linear;
    }
  }

/* Features Section */

.features .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0.3rem;
}

.features .grid-item{
    /* background-color: blue; */
    color: #04009a;
    padding: 1rem 1.4rem;
    width: 310px;
    font-weight: bolder;
}

.features .grid-item img{
    width:28px;
    height:22px;
    color: #04009a;
    margin-left:-9px;
    font-weight: bold;
}

.features h3{
    font-size: 1.6rem;
    margin-bottom: 7px;
}

.features a {
    color: #04009a;
    cursor: pointer;
}

.icon img{
    height: 120px;
    width:12px;
    padding-left: 12px;
    
}


/* About Page */
.about .grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 12px;
}

.about .grid img{
    max-width: 100%;
    width: 75%;
    height: 220px;
    border-radius: 50%;
    text-align: center;
}

.about h3{
    text-decoration: underline;
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.about .grid-item{
    width:320px;
    text-align: center;

}


/* Loan Calculator Page */
/* Header Section */
header .container{
    display: flex;
    justify-content: space-around;
    background-color: rgb(201, 232, 238);
    border-radius: 32px;
    
}

header a{
    color: black;
}

header a:hover, a:focus, a:active{
    color: blue;
}

header h2{
    font-size: 1.2rem;
}

.main-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.loan-details{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.loan-details h2{
    font-size: 1.4rem;
    color: gray;
    background-color: rgb(172, 165, 165,0.2);
    border-radius: 20px;
    padding: 3px 12px;
   margin: 20px auto;
}

.form-control{
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    position: relative;
}

.form-control label{
 font-size: 1.2rem;
 font-weight: bolder;
margin: 8px 0;
}

.form-control .options{
    margin-right:-1px;
    margin-bottom: 3px;
}

.form-control select, input{
width: 150px;
margin-bottom: 8px;
height: 30px;
border-radius: 5px;
font-size: 1rem;
outline: none;
border: 1px solid rgb(4, 7, 168);
}

.form-control input::placeholder{
    float: right;
    font-size: 1.2rem;
    line-height: 1.6;
    padding-right: 3px;
}

.btn-submit{
    font-size: 1.2rem;
    color: white;
    background-color: blue;
    padding: 21px 20px;
    line-height: 0.2;   
}

/* Loan Calculator -- Breakdown Grid */
.breakdown-grid{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border-radius: 3px;
    padding: 12px 22px;
    margin-top: 1rem;
    height: 50vh;
}


.break-title{
    margin-top:-12rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

.detail{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.disclaimer{
    color: gray;
}

.hide{
    display: none;
}

.red{
    color: red;
}

.green{
    color: green;
}

.form-control.success input {
    border-color: #2ecc71;
  }
  
  .form-control.error input {
    border-color: #e74c3c;
  }
  
  .form-control small {
    color: #e74c3c;
    position: absolute;
    top:-1.4rem;
    left: 0.3rem;
    visibility: hidden;
  }
  
  .form-control.error small {
    visibility: visible;
  }

  @media(max-width:768px){
    .main-grid{
        display: grid;
        grid-template-columns:1fr;
    } 
  }
