@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.6;
}

a{
    color: white;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

a:hover{
    color:blue;
    font-weight: bolder;
}

.active-link a{
    color:blue;
    font-weight: bolder;
}


.container{
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
    padding: 0rem 5rem -2rem;
}

.savings-calc-details {
    
        display: flex;
        flex-direction: column;
        align-items:flex-start;
       padding-left: 130px;
       padding-right: 50px;
        width: 100%;
        margin-left: 0px;
      padding-top: 2rem;
        
}

.second-item{
    background-color: black;
    min-height: 50vh;
    padding-top: 3rem;
    width: 100%;
}



/* Header Section */
header .container{
    width:500px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(240, 245, 247);
    border-radius: 32px;
    margin-top:22px;
    margin-bottom: 22px;
}

header a{
    color: black;
}

header a:hover, a:focus, a:active{
    color: blue;
}

header h2{
    padding: 4px 5px 4px 6px;
    font-weight: normal;
    font-size: 1rem;
    
}

.main-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 24px;
}

.loan-details{
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.loan-details h2{
    font-size: 1.4rem;
    color: gray;
    background-color: rgb(172, 165, 165,0.2);
    border-radius: 20px;
    padding: 3px 12px;
   margin: 20px auto;
}

.form-control{
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    position: relative;
}

.form-control label{
 font-size: 1.2rem;
 font-weight: bolder;
margin: 8px 0;
}

.form-control .options{
    margin-right:-1px;
    margin-bottom: 3px;
}

.form-control select, input{
width: 150px;
margin-bottom: 8px;
height: 30px;
border-radius: 5px;
font-size: 1rem;
outline: none;
border: 1px solid rgb(4, 7, 168);
}

.form-control input::placeholder{
    float: right;
    font-size: 1.2rem;
    line-height: 1.6;
    padding-right: 3px;
}

.btn-submit{
    font-size: 1.2rem;
    color: white;
    background-color: blue;
    padding: 21px 20px;
    line-height: 0.2;   
    margin-right:-215px;
}

/* Loan Calculator -- Breakdown Grid */
.breakdown-grid{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border-radius: 3px;
    padding: 12px 22px; 
    width: 100%;
    
}

.navbar{
    width: 28%;
    float: right;
}

.navbar ul{
    display: flex;
    justify-content:space-around;
}



.break-title{
    margin-top:-20rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.detail{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.disclaimer{
    color: gray;
}

.hide{
    display: none;
}

.red{
    color: red;
}

.green{
    color: green;
}

.form-control.success input {
    border-color: #2ecc71;
  }
  
  .form-control.error input {
    border-color: #e74c3c;
  }
  
  .form-control small {
    color: #e74c3c;
    position: absolute;
    top:-1.4rem;
    left: 0.3rem;
    visibility: hidden;
  }
  
  .form-control.error small {
    visibility: visible;
  }

  @media(max-width:568px){
    .container{
        margin-left:-50px;
        max-width:500px;
        padding: 0;
    }

    .first-item .container{
        margin: auto;
    }
    

    .form-control #select1{
        display: block;
        width: 245px !important;
        font-size:2rem;
    }

    .form-control label{
       font-size:1.1rem;
    }

    .loan-details h2{
        font-size: 1.2rem;
        width:260px;
      float: left;
    }


    .form-control {
        display: flex;
        flex-direction: column;
      
    }

    .form-control input, select{
        width:200px;
    }


    .breakdown-grid{
        
        display: none ; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        margin-top:100px;
        left: 0;
        top: 20px;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      
     
    }

    .text{
        color: black;
    }

    .close{
        
            display: block !important;
            color: white;
            background-color: black;
            padding:4px 7px;
            border-radius: 4px;
            position: absolute;
            top: 5px;
            right:20px;
            font-size: 18px;
            border:none;
            outline: none;
            cursor: pointer;
     
    }
  }

  .close{
display: none;
  }
