@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
}

a:active,a:hover, a:current{
    color:blue;
    font-weight: bolder;
}

ul li{
    text-decoration: none;
    list-style: none;
}


body{
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.6;
}

.active-link a{
    color:blue;
    font-weight: bolder;
}

.container{
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
    padding: 0rem 5rem -2rem;
}

.main-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  

}

.first-item{
    display: flex;
    flex-direction: column;
   align-items: center;
    justify-content: center;
    width: 100%;
    margin-right:-3px;
    
    padding-top: 2rem;
   

}

 .logo .container{

margin-right: 334px;
    
  
}

.second-item{
    background-color: black;
    min-height: 50vh;
    padding-top: 2rem;
   
    width: 100%;
}

.navbar{
    width: 28%;
    float: right;
}

.navbar ul{
    display: flex;
    justify-content:space-around;
    cursor: pointer;
}

/* Header Section */
header{
    width:500px;
    overflow: hidden;
    margin-left:42px;
}

header .container{
  
    display: flex;
    justify-content: space-around;
    background-color: rgb(240, 245, 247);
    border-radius: 52px;
    margin-top: 22px;
    margin-left: -0.01px;
    margin-bottom: 22px;
    padding-top: 6px;
    
}

header a{
    color: black;
}

header a:hover, a:focus, a:active{
    color: blue;
}

header h2{
    padding: 4px 1px 1px 2px;
    font-weight: normal;
    font-size: 1rem;
    padding-bottom: 14px;
}

/* Loan Calculator -- Details Grid */

.loan-calc-details{
    margin-left: 42px;
}

.loan-calc-details h1{
    margin-left: 1px;
}

.loan-details{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-left: -1px;
}

.loan-details h2{
    font-size: 1.4rem;
    color: gray;
    background-color: rgb(172, 165, 165,0.2);
    border-radius: 20px;
    padding: 3px 12px;
   margin: 20px auto;
}

.form-control{
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    position: relative;

}

.form-control label{
 font-size: 1.2rem;
 font-weight: bolder;
margin: 8px 0;
}

.form-control .options{
    margin-right:4px;
    margin-bottom: 3px;
}

.form-control select, input{
width:100px;
margin-bottom: 8px;
height: 30px;
border-radius: 5px;
font-size: 0.8rem;
outline: none;
border: 1px solid rgb(4, 7, 168);
margin-left: 1px;
margin-right: 1px;
}


.form-control #select1{
    width: 495px !important;
}

.form-control input::placeholder{
    float: right;
    font-size: 1.2rem;
    line-height: 1.6;
    padding-right: 3px;
}

.btn-submit{
    font-size: 1.2rem;
    color: white;
    background-color: blue;
    padding: 21px 20px;
    line-height: 0.2;  
    width: 140px !important; 
}



/* Loan Calculator -- Breakdown Grid */

.breakdown-grid{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* width:800px; */
    border-radius: 3px;
    padding: 12px 22px;
    margin-top: 3rem;
    margin-left: 12px;
}


.break-title{
    margin-top:-12rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.detail{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.disclaimer{
    color: gray;
}

.hide{
    display: none;
}

.red{
    color: red;
}

.green{
    color: green;
}

.form-control.success input {
    border-color: #2ecc71;
  }
  
  .form-control.error input {
    border-color: #e74c3c;
  }
  
  .form-control small {
    color: #e74c3c;
    position: absolute;
    top:-1.4rem;
    left: 0.3rem;
    visibility: hidden;
  }
  
  .form-control.error small {
    visibility: visible;
  }